<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TextChat Login</title>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/login_register.css">
</head>

<body>
	<div id="app" class="container">
		<h1>TextChat Login</h1>
		<form @submit.prevent="loginAxios">
			<label for="textfield1">Username:</label>
			<input type="text" id="textfield1" name="textfield1" v-model="username"><br>

			<label for="textfield2">Password:</label>
			<input type="password" id="textfield2" name="textfield2" v-model="password"><br>

			<button type="submit" id="submitBtn">Login</button>
			<label id="status">{{errormessage}}</label>
			<div class="redirect">Don't have an account? <a href="/register">Sign up!</a></div>
		</form>
	</div>

	<script>
		const { createApp } = Vue;
		const HOST = '34.54.74.142'
		createApp({
			data() {
				return {
					username: '',
					password: '',
					errormessage: ''
				};
			},
			mounted(){
				if(localStorage.getItem("jwt")){
					window.location.href = '/';
				}
			},
			methods: {
				loginAxios() {
					const url = `http://${HOST}/user/login`;
					axios.post(url, { username: this.username, password: this.password })
						.then(response => {
							const { token, expiresAt } = response.data;
							localStorage.setItem('jwt', token);
							localStorage.setItem('expiresAt', expiresAt);
							window.location.href = '/';
						})
						.catch(error => {
							console.error('Error:', error);
							const responseMessage = error?.response?.data?.message ?? null;
							if(responseMessage){
								this.errormessage = error.response.data.message;
							}else{
								alert(`Login failed\nCode: ${error.code}\nMessage: ${error.message}\nResponse: ${JSON.stringify(error.response, null, 2)}`);
							}
						});
				},
			}
		}).mount("#app");
	</script>
</body>
</html>